
.animate, .list-complete-item {
    transition: all 1s linear;
    display: inline-block !important;
    margin-right: 10px;
}

.list-complete-enter {
    opacity: 0;
    transform: translateY(30px);
}
.list-complete-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}
.list-complete-leave-active {
    position: absolute;
}
